# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Logs
logs/
*.log

# Virtual env
venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

#sample private pdfs
samples/pdf/*.pdf